@page "/add"
@inject IToastService toastService
@inject INoteService noteService

<h1>Add note</h1>
<div class="card card-@Theme">
    <div class="card-body">
        <EditForm Model="@command" OnValidSubmit="@AddNoteAsync">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control form-control-@Theme" placeholder="Input title here" bind="@command.Title" name="title"/>
                <CustomValidationMessage For="@(() => command.Title)" Class="@("validation-message validation-message-" + Theme)" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" rows="5" class="form-control form-control-@Theme" placeholder="Input description here" bind="@command.Description"></textarea>
                <CustomValidationMessage For="@(() => command.Description)" Class="@("validation-message validation-message-" + Theme)" />
            </div>
            <button type="button" class="btn btn-secondary btn-secondary-@Theme" onclick="@ResetFormAsync">Reset</button>
            <button type="submit" class="btn btn-success btn-success-@Theme">Add</button>
        </EditForm>
    </div>
</div>

@functions
{
    [CascadingParameter(Name = "Theme")] string Theme { get; set; }

    CreateNoteCommand command = new CreateNoteCommand();

    async Task AddNoteAsync()
    {
        try
        {
            await noteService.CreateAsync(command.Title, command.Description);
            toastService.ShowSuccess("Note added!", "Success");
        }
        catch (Exception)
        {
            toastService.ShowError("Something went wrong!", "Failed");
        }
        finally
        {
            // title = "";
            // description = "";
        }
    }

    async Task ResetFormAsync()
    {
        await Task.FromResult(command = new CreateNoteCommand());
    }
}