@page "/edit/{Id:int}"
@inject IToastService toastService
@inject INoteService noteService

<h1>Edit note</h1>
<div class="card">
    <div class="card-body">
        <EditForm Model="@command" OnValidSubmit="@UpdateNoteAsync">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" bind="@command.Title" name="title"
                        class="form-control" placeholder="Input title here" />
                <ValidationMessage For="@(() => command.Title)" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" bind="@command.Description"
                            class="form-control" placeholder="Input description here"></textarea>
                <ValidationMessage For="@(() => command.Description)" />
            </div>
            <button type="button"
                    class="btn btn-secondary"
                    onclick=@RestoreContentAsync>
                Restore
            </button>
            <button type="submit"
                    class="btn btn-success">
                Update
            </button>
        </EditForm>
    </div>
</div>

@functions
{
    [Parameter]
    public int Id { get; set; }

    string title;
    string description;
    UpdateNoteCommand command;

    protected override async Task OnInitAsync()
    {
        command = new UpdateNoteCommand(await noteService.ReadAsync(Id));

        await SetRestoreVariables();
    }

    async Task UpdateNoteAsync()
    {
        try
        {
            await noteService.UpdateAsync(Id, command.Title, command.Description);
            toastService.ShowSuccess("Note updated!", "Success");
        }
        catch (Exception)
        {

            toastService.ShowError("Something went wrong!", "Failed");
        }
    }

    async Task SetRestoreVariables()
    {
        await Task.FromResult(title = command.Title);
        await Task.FromResult(description = command.Description);
    }

    async Task RestoreContentAsync()
    {
        await Task.FromResult(command.Title = title);
        await Task.FromResult(command.Description = description);
    }
}