@page "/edit/{Id:int}"
@inherits EditNoteComponent

<h1>Edit note</h1>
<div class="card card-@Theme">
    <div class="card-body">
        <EditForm Model="@command" OnValidSubmit="@UpdateNoteAsync">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control form-control-@Theme" placeholder="Input title here" bind="@command.Title" name="title" />
                <CustomValidationMessage For="@(() => command.Title)" Class="@("validation-message validation-message-" + Theme)" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" rows="5" class="form-control form-control-@Theme" placeholder="Input description here" bind="@command.Description"></textarea>
                <CustomValidationMessage For="@(() => command.Description)" Class="@("validation-message validation-message-" + Theme)" />
            </div>
            <button type="button" class="btn btn-secondary btn-secondary-@Theme" onclick=@RestoreContentAsync>Restore</button>
            <button type="submit" class="btn btn-success btn-success-@Theme">Update</button>
        </EditForm>
    </div>
</div>